[submodule "shared-config"]
	path = shared-config
	url = https://github.com/The-Chiselers/shared-config.git
[submodule "scalafix‑lints"]
	path = scalafix‑lints
	url = https://github.com/nickrallison/chiselware_lints.git
[submodule "chiselware_lints"]
	path = chiselware_lints
	url = https://github.com/nickrallison/chiselware_lints.git
